#container {
  display: flex;
  flex-direction: row;
}

#dice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dice-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 200px;
  height: 200px;
  margin: 20px;
}

#dice-grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

#chart-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  margin: 20px;
}
